* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#inicio {
  background-image: url('media/backgroundcinza.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
  position: relative;
}

#inicio .inicio-conteudo h1 {
  font-size: 3rem;
  font-family: 'Coolvetica', sans-serif;
  margin-bottom: 10px;
  color: #000; 
}

#inicio .inicio-conteudo p {
  font-size: 1.5rem;
  color: #333;

}

#inicio .intro-social {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center; 
}


#inicio .intro-social li {
  display: inline-block;
  margin: 0 15px;
}

#inicio .intro-social li a {
  color: #000;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

#inicio .intro-social li a:hover {
  color: #EB3F3F;
}

#sobre {
  text-align: center;
}

#sobre h2, #sobre p {
  margin: 0 auto;
  display: block;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5rem;
  color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #EB3F3F;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.projeto {
  background-color: white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projeto:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.titulo-nome {
  font-family: 'Coolvetica', sans-serif; 
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  header h1 {
      font-size: 2.5rem;
  }
  header p {
      font-size: 1.2rem;
  }
  h2 {
      font-size: 2rem;
  }
}
