@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7F00FF;
  --card2-gradient-color2: #E100FF;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#inicio {
  background-image: url('media/backgroundcinza.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
  position: relative;
}

#inicio .inicio-conteudo h1 {
  font-family: 'Coolvetica', sans-serif;
  font-size: 4.5rem;
  margin-bottom: 10px;
  color: #000;
}

#inicio .inicio-conteudo p {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.8); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

#inicio .intro-social {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#inicio .intro-social li {
  display: inline-block;
  margin: 0 15px;
}

#inicio .intro-social li a {
  color: #000;
  font-size: 2rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

#inicio .intro-social li a:hover {
  color: #EB3F3F;
}

#sobre, #contato {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}

#sobre h2, #contato h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#sobre p, #contato p {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 800px;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 3rem;
  color: #000;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5rem;
  color: #333;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

#sobre h2 {
  font-size: 2.5rem; 
}

#sobre p {
  font-size: 1.8rem;
  color: #757575;
}

#projetos {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}

.titulo-projetos {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.card-wrap {
  width: 220px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
              rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  margin: 10px;
  display: inline-block;
}

.card-wrap:hover {
  transform: scale(1.1);
}

.card-header {
  height: 200px;
  width: 100%;
  background: red;
  border-radius: 100% 0% 100% 0% / 0% 50% 50% 100%;
  display: grid;
  place-items: center;
}

.card-header i {
  color: #fff;
  font-size: 72px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.card-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.card-btn {
  border: none;
  border-radius: 50px; /* arredondamento mais suave */
  padding: 8px 25px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra leve */
}

.card-header.one {
  background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.card-header.two {
  background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}

.card-header.three {
  background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}

.card-header.four {
  background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.card-btn.one {
  background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.card-btn.two {
  background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}

.card-btn.three {
  background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}

.card-btn.four {
  background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.titulo-nome {
  font-family: 'Coolvetica', sans-serif;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('fonts/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  header h1 {
      font-size: 2.5rem;
  }
  header p {
      font-size: 1.2rem;
  }
  h2 {
      font-size: 2rem;
  }

  .card-wrap {
    width: 100%;
    margin: 15px 0;
  }

  .titulo-projetos {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}
